*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:focus {
	outline: none;
}

html {
    font-size: 62.5%; /* For rem measurements always use the root */
}

body {
    box-sizing: border-box;
    min-width: 320px;
    font-family: 'Lato', sans-serif;
    color: #444;
    font-weight: 400;
    line-height: 1.6;
    font-size: 1.6rem;
    background: #f4f4f4;
}

ol, ul {
	list-style: none; 
}

table {
	border-collapse: collapse;
	border-spacing: 0;
} 

::placeholder {
	color: #b5b5b5;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input:not([type=checkbox]):not([type=radio]) {
    -webkit-appearance: none;
}

textarea {
    -webkit-appearance: none !important;
    resize: none;
}

button {
    background: transparent;
    border: 0;
    cursor: pointer;
}

/* TYPOGRAPHY */
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    font-size: 1.3rem;
    color: #777777;
}

h1 {
	font-weight: 300;
    font-size: 4.4rem;
    line-height: 1.2;
}

h2 {
	font-weight: 300;
	font-size: 3.6rem;
    line-height: 1.2;
}

h3 {
	font-weight: 300;
	font-size: 2.8rem;
    line-height: 1.2;
}

h4 {
    font-weight: 600;
	text-transform: uppercase;
	font-size: 1.8rem;
}

a {
    text-decoration: none;

    &:link, 
    &:visited {
        color: #8e44ad;
        text-decoration: none;
    }

    &:hover {
        color: #8e44ad;
    }
}

strong, .strong {
	font-weight: 700;
}

.info {
    color: red;
    font-style: italic;
    margin-top: 1rem;

    i {
        margin-right: .8rem;
    }
}

.title-case {
    text-transform: capitalize;
}

.signature-font {
    font-family: 'Reenie Beanie', cursive;
    font-size: 3rem;
}

.message {
    margin-top: 2rem;
    display: flex;
    align-items: center;

    i {
        font-size: 2rem;
        margin-right: 1rem;
    }

    &-success {
        i {
            color: green;
        }
    }

    &-error {
        i {
            color: red;
        }
    }
}

/* PAGE */
.page {
    padding: 4rem;
    min-height: calc(100vh - 140px - 62px);
    background: #fff;

    @media all and (max-width: 600px) {
        padding: 2rem;
        min-height: calc(100vh - 100px - 62px);
    }
}

.page-title {
    padding: 4rem;
}

.container {
    background: #fff;
    padding: 2rem;
    border-radius: 1rem;

    @media all and (max-width: 600px) {
        padding: 2rem;
    }
}

/* LAYOUT */
.app {
    max-width: 140rem;
    min-width: 320px;
    min-height: 100vh;
    margin: 0 auto;
    -webkit-box-shadow: 0 0 1.6rem 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1.6rem 0 rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    flex-direction: column;
}

.inline-block {
    display: inline-block;
}

.row {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 

    .form-control {
        margin: 0;
    }

    &:not(:last-child) {
        margin-bottom: 4rem;
    }
}

.row-small {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr)); 
}

/* IN PAGE NAV */
.in-page-content {
    display: flex;
}

.in-page-nav {
    min-width: 200px;
    border-right: 1px solid #e7e7e7;

    @media all and (max-width: 900px) {
        max-width: 100%;
        width: 100%;
        overflow-x: scroll;
        padding-bottom: 2rem;

        &-items {
            width: 1520px;
            display: flex;
        }
    }

    a {
        display: block;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        position: relative;

        @media all and (max-width: 900px) {
            padding: 1rem 2rem;
            border: 1px solid #e7e7e7;
            border-radius: 1rem;
            overflow: hidden;
            display: inline-block;
            align-items: center;
            justify-content: center;
        }

        span {
            position: relative;
            z-index: 10;
            color: #444;
            transition: all .2s ease-in;
        }

        &:before {
            content: '';
            display: block;
            height: 100%;
            width: 0;
            position: absolute;
            top: 0;
            left: -4rem;
            background: #8e44ad;
            z-index: 0;
            transition: all .2s ease-in;
        }

        &.active, &:hover {
            span {
                color: #fff;
                transition: all .2s ease-out;
            }
            
            &:before {
                width: calc(100% + 5rem);
                transition: all .2s ease-out;
            } 
        }

        &:not(:last-child) {
            margin-right: 1rem;            
        }
    }
}

.in-page-body {
    .page {
        padding: 0;

        &-header {
            padding: 0 4rem;
        }

        &-content {
            padding: 2rem 4rem;

            p {
                font-size: 1.6rem;
                line-height: 1.6;
                font-weight: 300;

                &:not(:last-child) {
                    margin-bottom: 2rem;
                }
            }
        }
    }
}

/* FORM */
@media all and (max-width: 1000px) {
    .formDivider {
        height: 4rem;
        width: 100%;
    }
}

.form-row {
    display: flex;
    align-items: center;

    @media all and (max-width: 1000px) {
        flex-direction: column;
        justify-content: flex-start;
    }

    .form-control {
        &:not(:last-child) {
            margin-right: 2rem;
        }

        @media all and (max-width: 1000px) {
            width: 100%;
            margin-left: 0 !important;
            margin-right: 0 !important;
            justify-content: flex-start !important;
        }
    }

    &-flex-1 {
        .form-control {
            flex: 1;
        }
    }
}

/* WEBSITE MESSAGES */
.success-message {
    display: flex;
    max-width: 400px;
    margin: 1rem auto;
    justify-content: center;
    align-items: center;

    background: #60AE5B;
    color: #fff;
    font-size: 1.5rem;
    padding: 2rem;
    border-radius: 10px;
    
    p {
        margin-right: 20px;
    }
}

/* PDF VIEWER CUSTOM */
.viewer-toolbar-right {
    display: none !important;
}

.viewer-toolbar-center {
    display: none !important;
}

.viewer-page-layer {
    width: 100% !important;
}

.viewer-canvas-layer {
    width: 100% !important;

    canvas {
        width: 100% !important;
        transform: scale(1) !important;
    }
}

.viewer-layout-container {
    border: 0px !important;
}

.viewer-toolbar-current-page-input {
    margin-right: 8px;
}

.viewer-inner-page {
    padding: 0 !important;
}

// Margins
.mgt-md { margin-top: 2rem }
.mgb-md { margin-bottom: 2rem }

// FLEX
.flex { display: flex; flex-wrap: wrap }